#site-nav
  .page-wrap
    %span.site-nav__logo
      %img.respond{ src: '/images/logos/header-logo.svg', alt: '' }
    %nav.site-nav__links
      %a{ href: data.site.shop_link, target: '_blank', rel: 'noopener noreferrer' }
        %img.respond{ src: '/images/icons/amazon.svg', alt: '' }
      %a{ href: data.site.instagram, target: '_blank', rel: 'noopener noreferrer' }
        %img.respond{ src: '/images/icons/instagram.svg', alt: '' }
